.petContentDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.petsImg {
  width: 275px;
  height: 250px;
  object-fit: cover;
  border-radius: 7px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.mainDiv {
  padding: 20px 230px;
}

.petsBox {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.petDetails {
  padding: 10px 13px;
}

.petDetails p {
  padding: 5px 0px;
}
