.petContentDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.petsImg {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.mainDiv {
  padding: 20px 230px;
}

.petsBox {
  border: 2px solid black;
  border-radius: 10px;
}

.petDetails {
  padding: 10px 13px;
}
