.productContentDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.outerDiv {
  padding: 0px 70px;
  padding-bottom: 30px;
}

.productH1 {
  padding: 15px 0px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}
